<nav>
    <div class="container nav_container">
      <!-- Pages -->
      <a href="#">
        
        <img src="/public/media/images/finallogowhite-removebg-preview.png" alt="">
      </a>
      <ul class="nav_menu">
        <li><a href="#">Home</a></li>
        <li><a href="/public/html/about.html">About</a></li>
        <li><a href="/public/html/contact.html">Contact</a></li>
        <li><a href="/public/html/categories.html">Categories</a></li>
        <li><a href="/auth/">Login</a></li>
      </ul>

      <!-- Button -->
      <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
      <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    </div>
  </nav>